* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0F0E47;
    text-align: center;
    line-height: 18pt;

}

header{
    background-color: #272757;
    padding: 60px 20px;
    color: #FFFFFF;
    border-bottom: 4px solid #333333;
}


.go-back-message {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14pt;
    transition: opacity 0.15s;

}

.go-back-message:hover {
    opacity: 0.15;
}

header .title {
    font-size: clamp(1.8rem, 4vw, 3.5rem);
    font-weight: bold;
    margin-bottom: 20px;
}

header .nickname {
    font-size: 16pt;
    margin-bottom: 20px;
    color: #E6E6E6;
    opacity: 0.8;
}

header .prompt-message {
    font-size: 14pt;
    color: #CCCCCC;
    margin-top: 20px;
    background-color: #303056;
    padding: 12px 18px;
    display: inline-block;
    border-radius: 10px;
}

img[usemap] {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

/* styling the navigation bar */
nav {
    margin: 5px 0;
    background-color: #505081;
    text-align: center;
    padding: 20px 10px;
    font-size: 14pt;
    letter-spacing: 0.5px;         
}

nav a {
    /* improving nav styles for easier navigation */
    color: #FFFFFF;
    font-weight: bold;
    padding: 15px 20px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
}

nav a:hover {
    /* adding hover effects to distiguish it from the normal design*/
    text-decoration: underline;
    color: #FFFFFF;
    background-color: #57577c;
    border-radius: 20px;
}

nav a:active {
    opacity: 0.6;
}

/* styling for the main content */
main {
    padding: 20px;
    margin: 5px 0;
    background-color: #8686AC;
    color: #1A1A1A;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

main section {
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #cfdddd;
    padding: 20px;
    width: 100%;
    max-width: 1000px;
    margin: 5px auto;
}

/* Headings in Sections */
main section h2 {
    margin-bottom: 10px;
    color: #262626;
}

main #home p,
#touristSpots p,
#food p,
#culture p {
    background-color: #FFFFFF;
    color: #333333;
    border-radius: 10px;
    padding: 15px;
    text-align: justify;
}

/* Attractions Section */
main #touristSpots, #food ul {
    list-style: none;
    justify-content: center;
}

#touristSpots li{
    background-color: #ffffff;
    border-radius: 10px;
    padding: 15px;
    list-style: none;
    padding: 15px;
    display: block;

}

main .attraction-title, .food-title {
    font-size: 14pt;
    font-weight: bold;
    margin-bottom: 10px;
}
main .attractions-image, .food-images {
    /* formatting the images, also using '%' for responsiveness */
    width: 90%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

/* Footer */
footer {
    padding: 30px;
    background-color: #272757;
    text-align: center;
}

footer p {
    color: white;
    font-size: 10pt;
    letter-spacing: 0.5px;
}
